body{
    background-color: rgb(221, 235, 243);
    margin: 0;
    text-align: center;

}
.main{
    border: 6px solid  rgb(0, 255, 136);height:auto;
}
.pictures img{
    margin-top: 20px;
    width: 160px;
    height: 160px;
    border: 8px solid rgb(32, 218, 110);
    border-radius: 20%;
}
h2{
color: rgb(39, 185, 9);
font-family: 'Courier New', Courier, monospace;
text-transform: uppercase;
}
b{
    color: rgb(145, 9, 20);
}
.links{
    display: block;
    border: 3px solid brown;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.links :hover{
    border-radius: 20px 0px 20px 0px;
    background-color: aquamarine;

}
 a{
    color: darkolivegreen;
  text-decoration: underline;
 }
 a :hover{
    color: red;

 }
 .copy{
    padding: 20px;
 }
